.click-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    max-width: 900px;
    margin: 0 60px 0 60px;
    width: 95%;
    height: 350px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 28px;
    
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 -1px 6px 4px #464AA6;
    color: #F2F2F2;
    text-transform: uppercase;
}

.btn:hover {
    color: #F2F2F2;
}

.btn:focus {
    /* transition: All 2ms ease-in; */
    box-shadow: 0 -1px 6px 4px #464AA6;
}

.btn:active {
    transform: scale(0.99);
}