.asset-animation {
    animation: turnAsset 2.8s ease-in infinite;
}

@keyframes turnAsset {
    0% {
        transform: rotateZ(5deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(5deg);
    }
}