.navbar {
    min-height: 100px;
    font-size: 24px;
}

.navbar .contain-navbar-logo .navbar-logo {
    color: white;
    transform: rotateZ(-20deg);
}

.link_navbar {
    text-decoration: none;
    color: inherit;
}

.link_navbar:hover {
    color: inherit;
}